/* CSS VARIABLES */
:root {
  --text-white: #ffffff;
  --text-black: #000000;
  --bg-white: #f3f4f6;
  --bg-grey: #767676;
  --bg-black: #000000;
  --bg-orange: #d0c19d;
  --bg-facebook: #0866ff;
  --bg-twitter: #55acef;
  --bg-x: #000000;
  --bg-google: #dd4b39;
  --bg-linkedin: #007bb6;
  --bg-youtube: #ff0000;
  --border-white: 1px solid #ffffff;
  --border-black: 1px solid #000000;
  --border-grey: 1px solid #767676;
}

/* MAIN STYLES */
body {
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-white);
}

/* HEADER FONT */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

/* WEBSITE CONTAINER */
.container {
  max-width: 80em;
  margin: 0 auto;
}

/* HEADER + NAV */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

nav {
  font-size: 1rem;
}

address {
  font-size: 1.25rem;
}

address,
nav {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

address a,
nav a {
  font-style: normal;
  color: var(--text-black);
  text-decoration: none;
}

.svg {
  display: none;
}

.button {
  display: inline-block;
  padding: 0.6em 0.4em;
  width: clamp(8em, 10vw, 10em);
  text-align: center;
  border: var(--border-grey);
  border-radius: 50px;
  background-color: #f3f4f6;
}

.button:hover {
  color: var(--text-white);
  border: var(--border-black);
  background-color: var(--bg-black);
}

.button.active {
  color: var(--text-white);
  border: var(--border-black);
  background-color: var(--bg-black);
}

/* HERO SECTION */
.hero {
  position: relative;
}

.hero h1 {
  padding: 0.75em;
  position: absolute;
  inset: 0;
  margin: auto 1.5em auto auto;
  width: 11em;
  height: fit-content;
  z-index: 1;
  line-height: 1.15;
  color: var(--text-white);
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  background-color: #0000008c;
}

.hero img {
  max-height: 500px;
  object-fit: cover;
  object-position: center 100%;
}

.caption h2 {
  padding-right: 0.625em;
  border-right: var(--border-black);
}

.caption {
  padding: 0.75em 1.25em;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b0b0b0;
  background-color: var(--bg-orange);
}

.caption p {
  padding-left: 1.25em;
}

/* ABOUT SECTION */
.about {
  padding: 1.5em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.description {
  padding-right: 1.5em;
}

.description h2 {
  text-align: left;
}

.about p {
  margin-top: 0.375em;
  font-size: 1.25rem;
}

.about figcaption p {
  margin-top: 0.375em;
  font-size: 1rem;
  text-align: center;
}

/* HOME GALLERY SECTION */
.home-gallery {
  padding: 0 1.5em;
}

.home-gallery h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.25em;
}

hr {
  margin: auto;
  max-width: 90%;
  border-top: var(--border-black);
}

.home-gallery-grid {
  display: grid;
  gap: 3em;
  padding: 1.5em 0 1.5em 0;
  margin-bottom: 1.5em;
  grid-template-columns: repeat(3, 1fr);
}

.home-gallery-grid img {
  border-radius: 30px;
  max-height: 500px;
  object-fit: cover;
}

.home-gallery p {
  text-align: right;
  font-size: 1.375rem;
  margin-bottom: 6em;
}

.home-gallery a {
  text-decoration: none;
  color: var(--text-black);
  transition: color 0.3s ease-in-out;
}

.home-gallery a:hover {
  color: var(--bg-grey);
}

/* GALLERY */
.gallery {
  margin-top: 1.5em;
  padding: 1.5em;
}

.gallery h1,
h2,
h3 {
  text-align: center;
}

.gallery h1 {
  font-size: 2.375rem;
}

.gallery h2 {
  font-size: 4rem;
}

.gallery p {
  text-align: center;
  font-size: 1.375rem;
}

.grid-container {
  padding-top: 1.5em;
  margin: 1.5em 0 3em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5em;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item a {
  display: block;
}

.image-container {
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--bg-white);
}

.image-container img {
  width: 100%;
  object-fit: contain;
  object-position: bottom center;
  max-height: 100%;
}

.item-caption {
  display: flex;
  flex-direction: column;
}

.item-caption p {
  margin-bottom: 0.5em;
}

.item-caption .price {
  margin-bottom: 0;
}

.item-caption h3 {
  margin-top: 0.5em;
  text-align: center;
}

/* ENQUIRIES */
.enquiries,
.newsletter {
  padding: 1.5em 5em;
}

.enquiries {
  margin-top: 1.5em;
}

.enquiries h2 {
  text-align: left;
}

.newsletter h2 {
  text-align: left;
}

form {
  max-width: 600px;
  margin: 1.5em auto;
}

label {
  display: block;
  margin-bottom: 0.313em;
  font-weight: 600;
}

form input,
form textarea {
  font-family: inherit;
  width: 100%;
  margin-bottom: 1.25em;
  padding: 0.625em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-button {
  text-align: right;
}

.form-button button {
  display: inline-block;
  padding: 0.6em 0.4em;
  width: clamp(8em, 10vw, 10em);
  text-align: center;
  border: var(--border-black);
  border-radius: 50px;
  background-color: #f3f4f6;
}

.form-button button:hover {
  background-color: var(--bg-black);
  color: var(--text-white);
}

.ring-size {
  padding: 1.5em 5em;
  margin: 0 0 3em 0;
}

.ring-size h2 {
  text-align: left;
}

.ring-size div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ring-size h3 {
  text-align: center;
  margin-top: 3em;
  padding-bottom: 0.5em;
  font-weight: 300;
  border-bottom: 1px solid #999;
}

.ring-size .table {
  padding: 1.5em 1.5em 0 1.5em;
}

.ring-size table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.ring-size td,
.ring-size th {
  font-weight: 300;
  padding: 1em;
  text-align: center;
  width: 33.3%;
}

.ring-size th {
  font-size: 1.375rem;
  color: var(--text-black);
  font-weight: 700;
}

.ring-size td {
  font-size: 1.25rem;
}

.ring-size tr:nth-child(even) {
  background-color: #eee;
}

.bottom {
  margin-top: 4.5em;
}

/* PRIVACY POLICY */
.privacy {
  padding: 1.5em;
  margin-bottom: 3em;
}

.privacy h1 {
  font-size: 1.75rem;
}

.privacy h2 {
  margin-top: 1em;
  text-align: left;
}

.privacy p {
  font-size: 1rem;
  margin-top: 1.5em;
}

.privacy ul {
  padding: 1em 1em 0 1em;
}

/* BOOK */
.book {
  padding: 1.2em;
  font-size: 1.25rem;
  text-align: center;
  margin: 3em auto;
}

.book a {
  color: var(--text-black);
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.book a:hover {
  color: var(--bg-grey);
}

/* THANKS */
.thanks {
  background-color: var(--bg-orange);
  text-align: center;
}

.thanks h1 {
  font-size: 1.75rem;
}

.thanks p {
  font-size: 1.25rem;
}

.thanks main {
  padding: 0 1.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
footer {
  padding: 1.5em 1.5em 1em 1.5em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  text-align: left;
}

.links h3 {
  display: flex;
  align-items: center;
  padding-right: 1.5em;
}

.links ul {
  border-left: var(--border-black);
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.links a {
  color: var(--text-black);
  text-decoration: none;
}

.socials ul {
  display: flex;
  list-style: none;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--bg-white);
  height: 40px;
  width: 40px;
}

.fa-brands {
  font-size: 1.25rem;
}

.facebook {
  background-color: var(--bg-facebook);
}

.twitter {
  background-color: var(--bg-twitter);
}

.google {
  background-color: var(--bg-google);
}

.linkedin {
  background-color: var(--bg-linkedin);
}

.youtube {
  background-color: var(--bg-youtube);
}

.facebook:hover,
.google:hover,
.linkedin:hover,
.twitter:hover,
.youtube:hover {
  background-color: var(--bg-black);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.copyright a {
  color: var(--text-black);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.copyright a:hover {
  color: var(--bg-grey);
}

/* TABLET */
@media screen and (max-width: 768px) {
  header {
    padding: 0.375em;
    gap: 1em;
    align-items: center;
  }

  address,
  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }

  address {
    font-size: 1rem;
  }

  nav {
    font-size: 0.625rem;
  }

  address p {
    display: none;
  }

  .svg {
    display: block;
  }

  .hero h1 {
    margin-right: 2em;
    font-size: 1.25em;
  }

  .caption {
    padding: 0.375em;
    font-size: 0.875rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .caption h2 {
    padding: 0 0 0.25em 0;
    width: 100%;
    border-right: none;
    border-bottom: var(--border-black);
  }

  .caption p {
    padding: 0.375em 0 0 0;
  }

  .about p {
    font-size: 1rem;
  }

  .about figcaption p {
    font-size: 0.875rem;
  }

  .gallery h2 {
    font-size: 3.375rem;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-container {
    aspect-ratio: auto;
  }

  .ring-size h2 {
    text-align: center;
  }

  .ring-size .table {
    padding: 1.5em 0 0 0;
  }

  .thanks h1 {
    font-size: 1.5rem;
  }

  .thanks p {
    font-size: 1.125rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
  }

  .links {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .links h3 {
    padding: 0;
  }

  .links ul {
    padding: 0;
    border: none;
  }

  .socials a {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 30px;
  }

  .fa-brands {
    font-size: 0.875rem;
  }

  .copyright {
    margin-top: 1rem;
    flex-direction: column;
    font-size: 0.875rem;
  }
}

/* MOBILE L */
@media screen and (max-width: 425px) {
  .hero h1 {
    font-size: 0.875em;
  }

  .caption {
    font-size: 0.75rem;
  }

  .description h2 {
    font-size: 1.25rem;
  }

  .about figcaption p {
    font-size: 0.75rem;
  }

  .home-gallery h2 {
    font-size: 1.25rem;
  }

  .home-gallery-grid {
    gap: 1.5em;
  }

  .home-gallery-grid img {
    border-radius: 16px;
  }

  .home-gallery p {
    font-size: 1.25rem;
  }

  .gallery h1 {
    font-size: 2rem;
  }

  .gallery p:first-of-type,
  .gallery p:nth-of-type(2) {
    font-size: 1.125rem;
  }

  .gallery h2 {
    font-size: 2.75rem;
  }

  .enquiries,
  .newsletter {
    padding: 1.5em;
  }

  .ring-size {
    padding: 1.5em;
  }

  .ring-size h3 {
    margin-top: 1.5em;
  }

  .ring-size td,
  .ring-size th {
    padding: 0.5em 0.2em;
    font-size: 0.875rem;
  }

  .privacy h1 {
    font-size: 1.5rem;
  }

  .privacy h2 {
    font-size: 1.25rem;
  }

  .privacy p {
    font-size: 0.875rem;
  }

  .thanks h1 {
    font-size: 1.25rem;
  }
}

/* MOBILE M */
@media screen and (max-width: 375px) {
  .hero h1 {
    font-size: 0.75rem;
  }

  .description h2 {
    font-size: 1.125rem;
  }

  .home-gallery h2 {
    font-size: 1.125rem;
  }

  .home-gallery p {
    font-size: 1rem;
  }

  .home-gallery-grid img {
    border-radius: 14px;
  }

  .gallery h2 {
    font-size: 2.125rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .book p {
    font-size: 1rem;
  }
}

/* MOBILE S */
@media screen and (max-width: 320px) {
  .hero h1 {
    font-size: 0.625rem;
  }

  .description h2 {
    font-size: 0.875rem;
  }

  .home-gallery h2 {
    font-size: 1rem;
  }

  .home-gallery p {
    font-size: 0.875rem;
  }

  .home-gallery-grid img {
    border-radius: 10px;
  }

  .book p {
    font-size: 0.875rem;
  }
}
